<section class=shelterpicture>
  <%= image_tag("https://www.cityofgp.com/sites/default/files/styles/inner_banner/public/uploads/banners/animals-pets-banner.jpg?itok=5lIml3cX", {:style => "width:100%; height: 325px;"  }) %>
</section>

<section class=shelterbody>
  <% @shelters.each do |shelter| %>
    <h2> <%= link_to shelter.name, "/shelters/#{shelter.id}", {:style=> 'color: white;'} %></h2>
    <ul>
      <li><%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", style: 'color: white'%> </li>
      <li id="<%="#{shelter.id}"%>"> <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", style: 'color: white', method: :delete %> </li>
    </ul>
  <% end %>
</section>

<section class=new>
  <section id=right ><%= link_to "Add A New Shelter", "/shelters/new", {:style=> 'color: white;'} %> </section>
</section>
