

<section>
  <h3> <%= @shelter.name %> </h3>
  <ul>
   <li> <%= @shelter.address %> </li>
   <li> <%=@shelter.city %> </li>
   <li> <%=@shelter.state %> </li>
   <li> <%=@shelter.zip %> </li>
   <li> Shelter Id: <%= @shelter.id %> </li>
  </ul>
</section>

<section>

  <p> <%= link_to "See All Pets In Shelter", "/shelters/#{@shelter.id}/pets", {:style=> 'color: gray;'}  %> </p>
  <p> <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", {:style=> 'color: gray;'}  %> </p>
  <p> <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", style: 'color: gray', method: :delete %> </p>

</section>
