
<div>
<a href="/shelters">Shelter Index</a> <p> Shelter Id: <%= @shelter.id%> </p>
</div>

<div>
<h3><ul> <%= @shelter.name %> </ul></h3>
<ul> <%= @shelter.address %> </ul>
<ul> <%=@shelter.city %> </ul>
<ul> <%=@shelter.zip %> </ul>
</div>
