<section>
  <div> Shelter Id: <%= @shelter.id %> </div>
  <p> <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> </p>
  <p> <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %> </p>
</section>

<section>
  <p> <%= link_to "See All Pets In Shelter", "/shelters/#{@shelter.id}/pets" %> </p>
</section>

<section>
  <p> <%= @shelter.name %> </p>
  <p> <%= @shelter.address %> </p>
  <p> <%=@shelter.city %> </p>
  <p> <%=@shelter.state %> </p>
  <p> <%=@shelter.zip %> </p>
</section>
