<div>
<%= link_to "Shelter Index", "/shelters" %>
<p> Shelter Id: <%= @shelter.id %> </p>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
</div>

<div>
<h3><ul> <%= @shelter.name %> </ul></h3>
<ul> <%= @shelter.address %> </ul>
<ul> <%=@shelter.city %> </ul>
<ul> <%=@shelter.state %> </ul>
<ul> <%=@shelter.zip %> </ul>
</div>
