<section class=update>
  <h3> Update <%= @pet.name%>'s Information: </h3> </br>
  <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
    <%= label_tag :image %>
    <%= text_field_tag(:image, @pet.image) %> </br>
    <%= label_tag :name %>
    <%= text_field_tag(:name, @pet.name) %> </br>
    <%= label_tag :description %>
    <%= text_field_tag(:description, @pet.description) %></br>
    <%= label_tag :age %>
    <%= text_field_tag(:age, @pet.age) %></br>
    <%= label_tag :sex %>
    <%= select_tag(:sex, raw('<option value = "1"> Female </option>
                               <option value = "2"> Male </option>')) %></br>
    <%= label_tag :status %>
    <%= select_tag(:status, raw('<option value = "1"> Adoptable </option>
                               <option value = "2"> Pending </option>')) %></br></br>
    <%= submit_tag 'Update Pet Details' %>
  <% end %>
</section>
