<section class=sheltername>
  <h2>  Pets In <%= @shelter.name%> </h2>
</section>
<section>
  <section class=column_1>
    <h3><%= "This shelter has #{@shelter.counts(@shelter.id)} pets up for adoption."%> </h3>
  </section>
  <section class=column_2>
     <p><%=link_to "Add A New Pet", "/shelters/#{@shelter.id}/pets/new", style: 'color: white' %> </p>
  </section>
</section>
</br></br>
<section class=petblock>
<% @pet_by_id.each do |pet| %>
  <section class=petimage>
    <p>  <%= image_tag("#{pet.image}", {:style => "width:95%; height: 250px;"}) %> </p>
    <p id=<%="#{pet.id}"%>> <%=link_to "Update Pet Info", "/pets/#{pet.id}/edit", style: 'color: white' %> </p>
    <p id=<%="#{pet.id}"%>> <%=link_to "Delete This Pet", "/pets/#{pet.id}", style: 'color: white', method: :delete %> </p>
  </section>
  <section class=petdetails>
    <p>  <%=link_to pet.name, "/pets/#{pet.id}", style: 'color: white' %> </p>
    <p>  Age: <%= pet.age %> </p>
    <p> Gender: <%=  pet.sex %> </p>
    <p> Shelter Name: <%=link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", style: 'color: white' %> <p/>
  </section>
</section>
<% end %>
