<h1> All Pets In Shelters </h1>

<% @pets.each do |pet| %>
  <section class=petimage>
    <%= image_tag("#{pet.image}", {:style => "width:95%; height: 250px;"}) %>
    <p id=<%="#{pet.id}"%>update> <%=link_to "Update Pet Info", "/pets/#{pet.id}/edit", style: 'color: white' %> </p>
    <p id=<%="#{pet.id}"%>delete> <%=link_to "Delete This Pet", "/pets/#{pet.id}", style: 'color: white', method: :delete %> </p>
  </section>
  <section class=petdetails>
    <p> Name: <%= link_to pet.name, "/pets/#{pet.id}/", style: 'color: white' %></p>
    <p> Age: <%= pet.age %> </p>
    <p> Gender: <%=  pet.sex %> </p>
    <p> Shelter Name: <%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}", style: "color: white;" %></p>
  </section>


<% end %>
