<section class=new>
  <h3> Add A New Pet: </h3> </br>
  <%= form_tag "/shelters/#{params[:shelter_id]}/pets" do %>
    <%= label_tag :image %>
    <%= text_field_tag :image %> </br>
    <%= label_tag :name %>
    <%= text_field_tag :name %> </br>
    <%= label_tag :description %>
    <%= text_field_tag :description %></br>
    <%= label_tag :age %>
    <%= text_field_tag :age %></br>
    <%= label_tag :sex %>
    <%= select_tag(:sex, raw('<option value = "Female"> Female </option>
                               <option value = "Male"> Male </option>')) %></br></br>
    <%= submit_tag 'Create Pet' %>
  <% end %>
</section>
