 <p> <%= image_tag("#{@pet.image}", {:style => "width:100px;"}) %> </p>
 <h2> This is <%= @pet.name%>. </h2>
 <p> <%=@pet.description %> </p>
 <p> Age: <%=@pet.age %> years old. </p>
 <p> <%= @pet.name%>'s gender is <%=@pet.sex %>. </p>
 <p> Adoption status: <%=@pet.status %> </p> </br>

<p> <%=link_to "Update Pet Info", "/pets/#{@pet.id}/edit", style: 'color: white' %> </p>
<p> <%=link_to "Delete This Pet", "/pets/#{@pet.id}", style: 'color: white', method: :delete %> </p>
<p> <%=link_to "Back to #{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}/pets", style: 'color: white' %> </p>
