 <p> <%= image_tag("#{@pet.image}", {:style => "width:100px;"}) %> </p>
 <p> <%= @pet.name%> </p>
 <p> <%=@pet.description %> </p>
 <p> <%=@pet.age %> </p>
 <p> <%=@pet.sex %> </p>
 <p> <%=@pet.status %> </p>

<p> <%=link_to "Update Pet Info", "/pets/#{@pet.id}/edit" %> </p>
<p> <%=link_to "Delete This Pet", "/pets/#{@pet.id}", method: :delete %> </p>
<p> <%=link_to "Back to #{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}/pets" %> </p>
